@keyframes wheels {
    from {transform:rotate(0);}
    to {transform:rotate(-360deg);}
}/* wheels animation end */
@keyframes bg_front {
    from {background-position-x:0;}
    to {background-position-x:1522px;}
}/* 앞쪽 배경 애니메이션 끝 */
@keyframes bg_back {
    from {background-position-x:0;}
    to {background-position-x:1520px;}
}/* 뒷쪽 배경 애니메이션 끝 */
@keyframes clouds {
    from {background-position-x:0;}
    to {background-position-x:1219px;}
}/* 구름 애니메이션 끝 */