main {
    width:1000px;
    background-color:#eee;
    margin:0 auto;
}
main h1 {}
main h1 a {}
main h1 a img {}
/* =========가입약관 */
main .law {
    background-color:#fff;
    width:90%; height:200px; margin:30px auto;
    overflow:auto;
    /* 부모 크기보다 자식이 클 경우 auto자동으로 스크롤을 보이고 부모 크기보다 자식이 작거나 같다면 auto자동으로 스크롤을 숨기는 속성값 */
    padding:16px;
}
main .law h2 {
    margin:0 0 30px;
    font-size:1.25rem;
    font-weight:600;
}
main .law h3 {
    margin:0 0 15px;
    font-size:1.125rem;
    font-weight:500;
}
main .law p {
    line-height:1.5; margin:20px 0;
}
/* =========가입정보입력 */
main #login_frm {}
main #login_frm .member_info {
    overflow:hidden;
}
main #login_frm .member_info dt {
    width:200px; background-color:lime;
    float:left;
    clear:both;
}
main #login_frm .member_info dt em {}
main #login_frm .member_info dd {
    float:left;
}
/* main #login_frm .member_info dd:nth-of-type(odd) {
    background-color:yellow;
} */
main #login_frm .member_info dd:nth-of-type(2n+1) {
    width:650px;
    background-color:yellow;
}
/* main #login_frm .member_info dd:nth-of-type(even) {
    background-color:skyblue;
} */
main #login_frm .member_info dd:nth-of-type(2n) {
    width:150px;
    background-color:skyblue;
}
/* =======================id,pw,name,email,phone 속성 */
main #login_frm .member_info dd input[name^=user] {
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:90%; padding:12px;
}
main #login_frm .member_info dd input[name$=id] {}
main #login_frm .member_info dd input {}
main #login_frm .member_info dd:nth-of-type(2n) .btn {
    background-color:red;
}
/* 휴대폰,주소, 성별, 생년월일 선택자 */
main #login_frm .member_info dd button {}
main #login_frm .member_info dd select[name^=news] {}
main #login_frm .member_info dd select[name^=news] option {}
main #login_frm .member_info dd input[name*=phone] {}
/* 인증번호 버튼 개별 선택자 */
main #login_frm .member_info dd #authentication_btn {
    background-color:coral;
}
main #login_frm .member_info dd #address_search_btn {}
main #login_frm .member_info dd #address_search_btn + span {}
main #login_frm .member_info dd input[name=gender] {}
main #login_frm .member_info dd input[name=gender] + label {}
main #login_frm .member_info dd input[name^=birthday] {}
/* =========가입버튼 */
main #login_frm .btn {}
main #login_frm .btn button {}