/* index css */
#wrap {
    background-color:#fff;
    width:440px;
    height:956px;
    text-align:center;
}
#wrap h1 {
    margin-top:230px;
    margin-bottom:160px;
}
#wrap h1 img {}
#wrap .account_wrap {
    width:300px;
    /* 블록의 너비값을 부모보다 작게 설정했을때, 블록을 가운데 정렬하고 싶을때 */
    margin-left:auto;
    margin-right:auto;
    text-align:left;/* account_wrap의 인라인 자식, 자손의 왼쪽정렬 */
}
#wrap .account_wrap a {
    display:block;/* 블록의 너비는 부모 너비의 100%와 같다. */
    text-align:center;
}
#wrap .account_wrap .login_btn {
    height:40px;
    line-height:40px;
    font-size:0.875rem;
    font-weight:500;
    color:#fff; background-color:#42488E;
    border-radius:20px; 
}
#wrap .account_wrap .sign_up_btn {
    margin-top:15px;
    margin-bottom:10px;
    height:40px;
    line-height:40px;
    font-size:0.875rem;
    font-weight:500;
    color:#fff; background-color:#42488E;
    border-radius:20px;
    /* border:선두께 선모양 선색상; 여기서 해당 버튼에서는 태두리를 만들지 않았으니 생략 */
}
#wrap .account_wrap .pw_search {
    font-size:0.75rem;
    font-weight:400;
    display:inline-block
}