.wrap {
    background-color:#fff;
    width:440px;
    height:956px;
    padding:0 15px;
    /* padding-left:15px;
    padding-right:15px; */
    letter-spacing:0.02em;
}
.wrap h1 {
    margin:144px 0 30px 0;
    /* margin-top:144px;
    margin-bottom:30px; */
    font-size:2.5rem; /* 40px */
    font-weight:700; /* bold */
}
.wrap > p {} /* wrap의 모든 자식을 가르키는 p */
.wrap h1+p {
    margin: 0 0 63px 0;
    /* margin-bottom:63px; */
    font-weight:500;
}/* wrap의 h1바로 옆에 있는 p */
.wrap #account {}
.wrap #account h2 {
    font-size:1.25rem;
    font-weight:600;
}
.wrap #account p {}
.wrap #account p .user_in {}
.wrap #account p .user_button {}
.wrap #account p input::placeholder{/* placeholder속성 선택자 작성법 */
    font-size:0.875rem;
    font-weight:300;
}
.wrap #account p input {
    width:410px;
    background-color:#B0C4DE;
    border:1px solid #383969;
    padding:15px 20px;
    /* padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px; */
    border-radius:5px;
    margin:25px 0 60px 0;
    /* margin-top:25px;
    margin-bottom:60px; */
}
.wrap #account p #login_btn {
    background-color:#42488E; color:#fff;
    width:410px;
    padding:15px 0;
    margin:20px 0 10px 0;
    /* padding-top:15px;
    padding-bottom:15px; */
    /* margin-top:20px;
    margin-bottom:10px; */
    border:1px solid #383969;
    border-radius:5px;
    font-size:0.875rem;
    font-weight:500;
}
.wrap #account p .login_google {
    text-align:center;
    background-color:#fff;
    width:410px;
    padding:15px 0;
    /* padding-top:15px;
    padding-bottom:15px; */
    border:1px solid #383969;
    border-radius:5px;
    display:inline-block;
    font-size:0.875rem;
    font-weight:500;
}
.wrap #account+p {
    margin:20px 0 0 0;
    /* margin-top:20px; */
    font-size:0.75rem;
    font-weight:400;
    text-align:center;
    letter-spacing:0;
}/* #wrap의 account옆에 p */
.wrap #account+p a{
    font-weight:600;
}
