.wrap {
    background-color:#fff;
    width:440px;
    height:956px;
    padding-left:15px;
    padding-right:15px;
}
.wrap h1 {
    margin-top:144px;
    margin-bottom:30px;
    font-size:2.5rem;
    font-weight:700;
}
.wrap > p {} /* wrap의 모든 자식을 가르키는 p */
.wrap h1+p {
    margin-bottom:63px;
    font-size:1rem;
    font-weight:500;
}/* wrap의 h1바로 옆에 있는 p */
.wrap #account {}
.wrap #account h2 {
    font-size:1.25rem;
    font-weight:600;
}
.wrap #account p {}
.wrap #account p input {
    width:410px;
    height:44px;
    background-color:#B0C4DE;
    font-size:1rem;
    border:1px solid #383969;
    padding-left:20px;
    border-radius:5px;
    margin-top:25px;
    margin-bottom:60px;
}
.wrap #account p #login_btn {
    background-color:#42488E; color:#fff;
    width:410px;
    height:44px;
    margin-top:20px;
    margin-bottom:10px;
    border:1px solid #383969;
    border-radius:5px;
    font-size:0.875rem;
    font-weight:500;
}
.wrap #account p .login_google {
    text-align:center;
    background-color:#fff;
    width:410px;
    height:44px;
    border:1px solid #383969;
    border-radius:5px;
    display:inline-block;
    line-height:44px;
    font-size:0.875rem;
    font-weight:500;
}
.wrap #account+p {
    margin-top:20px;
    font-size:0.75rem;
    font-weight:400;
}/* #wrap의 account옆에 p */
.wrap #account+p a{
    font-size:0.75rem;
    font-weight:600;
}
